body  {
	background-color: purple;
}
h1  {
	color:#b0c4de;
	text-align: center;
	font-family: Arial;
}
p  {
	color: white;
	text-align: center;
	font-family: Arial;
}
ul  {
	color: white;
	text-align: left;
	font-family: Arial;	
}
a  {
	color: white;
	text-align: center;
	font-family: Arial;	
}